.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 75px;
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0 0; 
}

.nav-btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #888;
  padding: 0 10px;
  cursor: pointer;
  transition: color 0.2s ease, transform 0.2s ease;
}

.nav-icon {
  font-size: 1.6rem;
  margin-bottom: 4px;
}

.nav-btn.active,
.nav-btn:focus {
  color: #0099ff;
  font-weight: 600;
  outline: none !important;
}

.nav-btn:active {
  transform: scale(0.95);
}

@media (min-width: 431px) {
  .bottom-nav {
    border-radius: 30px 30px 0 0;
  }
}

@media (min-width: 900px) {
  .bottom-nav {
    border-radius: 0;
     border-radius: 30px 30px 0 0;
  }
}
