.navbar-superior {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}
.Logo-Mapa{
  width: 50px;
  margin-bottom: 1rem;
}

.navbar-titulo {
  font-size: 13px;
  color: #222;
  margin-bottom: 6px;
  font-weight: 500;
}

.navbar-busqueda-contenedor {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  padding: 4px 12px 4px 8px;
  width: 90%;
  max-width: 420px;
  position: relative;
  bottom: 5px;
}

.navbar-icono-busqueda {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.navbar-input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  background: transparent;
  padding: 8px 0;
  color: black;
}